In [25]:
import pandas as pd

In [57]:
water_data = pd.read_csv('server/data/waterway-readings.csv', encoding='iso-8859-1')
units_data = pd.read_csv('server/data/units-of-measure.csv', encoding='iso-8859-1')

In [58]:
def strip_column(series: pd.Series) -> pd.Series:
    return series.map(lambda item: item.strip())

In [59]:
units_data['measure'] = strip_column(units_data['measure'])
units_data['unit'] = strip_column(units_data['unit'])
units_data = units_data.set_index('measure')

In [60]:
water_data['measure'] = strip_column(water_data['measure'])
water_data['date'] = strip_column(water_data['sample date'])
water_data['location'] = strip_column(water_data['location'])
water_data = water_data.drop(columns='sample date')
water_data = water_data.join(units_data, 'measure')

In [61]:
filtered = water_data[water_data['location'] == 'Boonsri']
filtered = filtered[filtered['unit'] == 'C']
filtered

             id  value location            measure       date unit
0          2221    2.0  Boonsri  Water temperature  11-Jan-98    C
224        2261    5.0  Boonsri  Water temperature  15-Feb-98    C
448        2301    2.0  Boonsri  Water temperature  12-Mar-98    C
672        2341    8.0  Boonsri  Water temperature  11-Apr-98    C
706        2704    7.0  Boonsri  Water temperature  11-Apr-98    C
...         ...    ...      ...                ...        ...  ...
136043  3278935   10.0  Boonsri  Water temperature  17-Nov-16    C
136418  3278993    7.0  Boonsri  Water temperature   3-Dec-16    C
136605  3279011    7.0  Boonsri  Water temperature  10-Dec-16    C
136634  3279916    7.0  Boonsri  Water temperature  10-Dec-16    C
136663  3280821    7.0  Boonsri  Water temperature  10-Dec-16    C

[984 rows x 6 columns]

In [62]:
filtered.to_json('server/data/waterway-readings.json', orient='records')

In [18]:
import json

data = json.load(open('server/data/waterway-readings.json', encoding='iso-8859-1'))

In [20]:
data.keys()

dict_keys(['value', 'location', 'sample date', 'measure', 'unit'])

In [24]:
water_data['location'].unique()

array(['Boonsri', 'Kannika', 'Chai', 'Kohsoom', 'Somchair', 'Sakda',
       'Busarakhan', 'Tansanee', 'Achara', 'Decha'], dtype=object)